/* stylelint-disable scss/no-global-function-names */

$black: #000;
$key_color: #4E4DA8;
$key_color_hover: #43429C;
$key_color_light: #9392C9;
$medium_red: #FF957B;
$red: #F30;
$green: #0EA85D;
$gray_2: #222;
$gray_3: #333;
$gray_4: #444;
$gray_5: #555;
$gray_6: #666;
$gray_7: #777;
$gray_a: #AAA;
$gray_c: #CCC;
$gray_d: #DDD;
$gray_e: #EEE;
$gray_f9: #F9F9F9;
$gray_f4: #F4F4F4;
$gray_f0: #F0F0F0;
$gray_e0: #E0E0E0;
$white: #FFF;
