// 오리지널 전역 스크롤
$scrollbar-width: 14px;
$scrollbar-height: 14px;
$scrollbar-border-radius: 12px;

// 모바일 전역 스크롤
$scrollbar-mobile-width: 12px;
$scrollbar-mobile-height: 12px;
$scrollbar-mobile-border-radius: 10px;
